<tfoot id="subtotal" data-hook="order_details_gift_packaging">
  <tr class="total" id="subtotal-row">
    <td colspan="4"><b><%= t(:gift_packaging) %></b></td>
    <td class="total"><span><%= number_to_currency @order.gift_packaging_total %></span></td>
  </tr>
</tfoot>
