<tbody id="subtotal" data-hook="admin_order_form_subtotal">
  <tr id="subtotal-row">
    <td colspan="4"><b><%= t(:subtotal) %>:</b></td>
    <td class="total"><span><%= number_to_currency @order.item_total %></span></td>
    <td></td>
  </tr>
</tbody>
