<table class="index" style="width:100%;" data-hook="admin_shipment_form_gift_packaging">
  <tr data-hook="shipments_header">
    <th><%= t(:sku) %></th>
    <th><%= t(:gift_packaging) %></th>
  </tr>

	<% @shipment.line_items.each do |line_item| %>
		<tr>
			<td><%= line_item.variant.sku %></td>
			<td><%= line_item.gift_package.title %></td>
		</tr>
	<% end %>
</table>

